body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    padding: 60px 70px;
    border-radius: 5px;
    background-color: rgba(1, 1, 1, 0.8);
}

progress[value]::-webkit-progress-value {

    background: rgb(8, 54, 255);


    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    /* Dimensions */
    width: 250px;
    height: 20px;
}

select {
    width: 140px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #eee;
}

select::-ms-expand {
    display: none;
    /* Standardpfeil im IE 10 und 11 entfernen */
}