body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    padding: 60px 70px;
    border-radius: 5px;
    background-color: rgba(1, 1, 1, 0.8);
}

.btn {
    background-color: #2ecc71;
    color: #f1f1f1;
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #27ae60;
}

.btn-blue {
    background-color: #3498db;
}

.btn-blue:hover {
    background-color: #2980b9;
}

.btn-red {
    background-color: #e74c3c;
}

.btn-red:hover {
    background-color: #c0392b;
}

progress[value]::-webkit-progress-value {
    background: rgb(8, 54, 255);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 250px;
    height: 20px;
}

select {
    width: 140px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #eee;
}

select::-ms-expand {
    display: none;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    transition: 0.5s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes fadeBlur {
    0% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0px);
    }
}